body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Contenido{
    width: 100%;
    height: 100%;
    display: flex;
}

.contenido-chat {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.area-logos {
    height: 10%;
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    align-items: center; 
    justify-content: space-between;
}

#codibro-logo {
    width: 15%;
    padding-top: 2%;
    
}

.icons {
    width: 5%;

}

.area-preguntas {
    width: 20%;
    height: 83%;
    margin: 1% ;
    padding: 4% 2% 2% 2%;
    display: flex;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    flex-shrink: 0;
}

#lista-preguntas {
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    line-height: 3em;
}

.area-chat {
    flex-grow: 1;
    padding: 20px 50px 20px 50px;
    margin-right: 18%;
    overflow-y: auto;
    max-width: 90%;
}

.area-mensajes {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
    margin-bottom: 4%;
}

.contenido-mensajes {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #5e5e5e;
    background-color: #e4e4e4;
    border-radius: 50px;
    width: 80%;
    max-width: 800px;
}

#mensajeUsuario {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: #e4e4e4;
    border-radius: 10px 0 0 10px;
    resize: none;
    overflow-y: auto;
    max-height: 100px;
}

#mensajeUsuario:focus {
    outline: none;
}

#botonEnviar {
    margin: 5px 10px 0px 0px;
    text-align: center;
    border: none;
    border-radius: 360px;
    font-size: 1.5em;
    background-color: #e4e4e4;
    cursor: pointer;
}

/* Estilos de los mensajes */
.message-container {
    max-width: 100%;
    display: flex;
    margin: 10px 0;
    align-items: flex-start;
}

.user-message, .bot-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


.user-message {
    align-self: flex-end;
    margin-left: auto;
    background-color: #e0e0e0;
    text-align: right;
    color: #333;
}

.bot-message {
    
    display: flex;
    align-items: flex-start;
    position: relative;
    color: #e62b3c;
    background-color: #d6d6d6;
    margin-right: auto;
}

.bot-message div {
    margin-left: 40px;
}


.contenedor-logo{
    background-color: #fff; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    flex-shrink: 0;
    
}

.contenedor-logo img{
    width: 30px;
    height: 30px;
}

