body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Contenido{
    width: 100%;
    height: 100%;
    display: flex;
}

.contenido-chat {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.area-logos {
    height: 10%;
    padding: 20px;
    display: flex;
}

#codibro-logo {
    width: 15%;
    padding-top: 2%;
    padding-right: 68%;
}

.icons {
    width: 5%;
    padding-left: 1%;
}

.area-preguntas {
    width: 20%;
    height: 83%;
    margin: 1% ;
    padding: 4% 2% 2% 2%;
    display: flex;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
}

#lista-preguntas {
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    line-height: 3em;
}

.area-chat {
    flex-grow: 1;
    padding: 20px;
    border: 2px solid #e62b3c;
    overflow-y: auto;
}

.area-mensajes {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 4%;
    margin-left: 2%;
}

.contenido-mensajes {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #5e5e5e;
    background-color: #e4e4e4;
    border-radius: 50px;
    width: 80%;
}

#mensajeUsuario {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: #e4e4e4;
    border-radius: 10px 0 0 10px;
}

#mensajeUsuario:focus {
    outline: none;
}

#botonEnviar {
    margin: 5px 10px 0px 0px;
    text-align: center;
    border: none;
    border-radius: 360px;
    font-size: 1.5em;
    background-color: #e4e4e4;
}

.message {
    margin: 10px 0;
}

.user-message {
    text-align: right;
    color: #333;
}

.bot-message {
    text-align: left;
    color: #e62b3c;
}

.bot-message img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

